/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: zettafont;
  src: url(./assets/fonts/ZettaSerif.ttf);
}
html{
  height: 100%
}
body{
  font-family: zettafont;
  background: #cecece;
  height: 100%;
  letter-spacing: 1px
}
body.login{
  background: #fff;
  overflow: hidden; 
}

html,body.login,body.login .main_container {
  height:100%;
}
body.login .main_container {
  display:table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full_height {
  height: 100%;
  display: table-row;
}

.left_sec {   
  background: #1da1f2;
  vertical-align: middle;
  color: #fff;
  text-align: center
}
.left_sec h4{
  font-size: 24px;
}

.full_height .no-float {
display: table-cell;
float: none;
}


header {
  height: 62px;
  background: #fff;
}
.navbar-nav>li>a.profile-image {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-fixed-top {
  background: #fff;
  height: 63px;
}
.breadcrumb a {
  cursor: pointer;
}
.media-body {
  vertical-align: middle;
  text-transform: capitalize;
}

.thumbnail .caption {
  text-transform: capitalize;
}

@media only screen and (max-width: 500px) {
  body.login {
    /* overflow: auto */
  }
  .social-buttons img{
    width: 250px !important
  }
  .left_sec{
    padding-top: 20px;
  }
}